<template>
  <h1 class="title mx-5 mt-2">Product List</h1>
  <ProductList />
</template>

<script>
import ProductList from './components/ProductList.vue'

export default {
  name: 'App',
  components: {
    ProductList
  }
}
</script>

<style>
@import "~bulma/css/bulma.css";
table, td, th {
  border: 1px solid #DDD;
  min-width:200px;
  padding:5px;
}

th {
  text-align:center;
}

td {
  text-align:left;
}
</style>
